// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.document {
  background-color: #efa;
  border: 1px solid #777;
  border-radius: 10px;
}

div.document.locked {
  background-color: #eee;
}

.document .description {
    margin: 1em;
    text-align: center;
    font-style: italic;
    font-size: 1.3em;
}
