// Place all the styles related to the paragraphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.paragraph {
    margin-left: 1.2em;
    border: 1px solid gray;
    border-left: 3px solid green;
}

.admin-commands {
    margin: 0.5em;
    border: 1px solid #aaf;
    position: relative;
    bottom: 0;
    left: 0;
}

.vote-box {
    text-align: right;
    border: 1px solid #faf;
    position: relative;
    bottom: 0;
    right: 0;
}
